azure_data_factory/pipeline/pl-var.json
{
	"name": "pl-var",
	"properties": {
		"activities": [
			{
				"name": "Set Year String",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_year_str",
					"value": {
						"value": "@split(variables('pl_var_date'),'-')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Year Int",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_year_int",
					"value": {
						"value": "@int(split(variables('pl_var_date'), '-')[0])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_date",
					"value": {
						"value": "2024-01-02",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month String",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_month_str",
					"value": {
						"value": "@split(variables('pl_var_date'),'-')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Day String",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_day_str",
					"value": {
						"value": "@split(variables('pl_var_date'),'-')[2]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Month Int",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_month_int",
					"value": {
						"value": "@int(split(variables('pl_var_date'), '-')[1])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Day Int",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_var_day_int",
					"value": {
						"value": "@int(split(variables('pl_var_date'), '-')[2])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"variables": {
			"pl_var_year_int": {
				"type": "Integer"
			},
			"pl_var_month_int": {
				"type": "Integer"
			},
			"pl_var_day_int": {
				"type": "Integer"
			},
			"pl_var_year_str": {
				"type": "String"
			},
			"pl_var_month_str": {
				"type": "String"
			},
			"pl_var_day_str": {
				"type": "String"
			},
			"pl_var_date": {
				"type": "String"
			},
			"pl_var_last_day_of_month": {
				"type": "String"
			}
		},
		"annotations": []
	}
}