azure_data_factory/pipeline/test-pipeline_v2.json
{
	"name": "test-pipeline_v2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata - Root Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobRootFolder",
						"type": "DatasetReference",
						"parameters": {
							"ds_prm_dir": {
								"value": "@variables('pl_var_dir_base')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach - Year Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata - Root Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata - Root Folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable - Dir Year",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pl_var_dir_base_year",
								"value": {
									"value": "@concat(variables('pl_var_dir_base'), '/', item().name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable - Dir Year",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pl_var_dir_year_array",
								"value": {
									"value": "@concat(variables('pl_var_dir_base'), '/', item().name)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach - Month Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach - Year Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('pl_var_dir_year_array')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata - Month Level",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AzureBlobRootFolder",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"pl_var_dir_year_array": {
				"type": "Array"
			},
			"pl_var_dir_base": {
				"type": "String",
				"defaultValue": "silver/scraped-data-segregated"
			},
			"pl_var_dir_base_year": {
				"type": "String"
			},
			"pl_var_dir_base_year_month": {
				"type": "String"
			},
			"pl_var_dir_base_year_month_day": {
				"type": "String"
			}
		},
		"annotations": []
	}
}